<h1>Login to your FlashThrift account</h1>

<%= form_tag sessions_path do %>
    <div id="login_options" style="margin-top: 30px;">
        <div style="float: left; margin-right: 40px;">
            <table>
                <tr>
                    <td>
                        <%= label_tag :user_name %>
                    </td>
                    <td>
                        <%= text_field_tag :username, params[:username] %>
                    </td>
                </tr>
                <tr>
                    <td>
                        <%= label_tag :password %>
                    </td>
                    <td>
                        <%= password_field_tag :password %>
                    </td>
                </tr>
            </table>
            <p class="button"><%= submit_tag "Log in" %></p>
        </div>
        <div>
            <p>Or authenticate using your Facebook credentials</p>
            <a href="#"><%= image_tag 'log_in_with_fb.png', :width => 200 %></a>
        </div>
    </div>
<% end %>
