<script type="text/javascript">
  // Toggles the new password input on and off
  function toggle_password_update() {
    var checkbox = document.getElementById('update_password_checkbox');
    var new_password_input = document.getElementById('user_password');
    var new_password_confirmation_input = document.getElementById('user_password_confirmation');

    if (checkbox.checked) {
      new_password_input.disabled = false;
      new_password_confirmation_input.disabled  = false;
    }
    else {
      new_password_input.disabled = true;
      new_password_confirmation_input.disabled = true;
      new_password_input.value = '';
      new_password_confirmation_input.value = '';
    }
  }
</script>


<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.select :active, options_for_select([["Active", true], ["Suspended", false]], @user.active) %>
  </div>

  <div class="field">
    <%= f.label :roles %>
    <table>
      <tr><td>Admin</td><td>Sales</td><td>Moderator</td></tr>
      <tr>
          
        <td><%= f.check_box :is_admin?, {'disabled' => (!current_user.is_admin?) } %></td>
        <td><%= f.check_box :is_sales?, {'disabled' => (!current_user.is_admin?) }%></td>
        <td><%= f.check_box :is_moderator?, {'disabled' => (!current_user.is_admin?) } %></td>
        <!--
        <td><%= check_box_tag 'admin', 'admin', @user.is_admin?, { :disabled => !current_user.is_admin? } %></td>
        <td><%= check_box_tag 'sales', 'sales', @user.is_sales?, { :disabled => !current_user.is_admin? } %></td>
        <td><%= check_box_tag 'moderator', 'moderators', @user.is_moderator?, { :disabled => !current_user.is_admin? } %></td>
        -->
      </tr>
    </table>
  </div>

  <div class="field">
    <%= f.label :update_password %>
    <input type="checkbox" id="update_password_checkbox" onclick="toggle_password_update()"/><br />
    <%= f.label :new_password %><br />
    <%= f.password_field :password, {:value => '', :disabled => 'true' } %><br />
    <%= f.label :confirm_new_password %><br />
    <%= f.password_field :password_confirmation, { :value => '', :disabled => 'true' } %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
