<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div>
    <%= f.label :price %><br />
    <%= f.text_field :price, :value => humanized_money_with_symbol(@item.price) %>
  </div>
  <div>
    <%= f.label :status %><br />
    <%= f.select :status, options_for_select([ ['Listed', 'listed'], ['Sold', 'sold'], ['Suspended', 'suspended']], @item.status) %>
  </div>

  <b>Images</b>
  <%= f.fields_for :images do |image_form| %>
    <%= image_form.file_field :image_upload %><br /><br />
    <%= image_tag @item.images.first.image_upload.url %>
  <% end %>


  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
