<!DOCTYPE html>
<html>
  <head>
      <title>FlashThrift</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag "bootstrap.min.css" %>
    <%= stylesheet_link_tag "main.css" %>
    <%= stylesheet_link_tag "bootstrap-responsive.min.css" %>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <a href="/"><%= image_tag "flashthrift-logo-hdr.png" %></a>
        <div class="btn-group pull-right">
            <!-- Add case here to check if the user is logged in -->
            <a class="btn" href="/log_in">Login</a>
            <a class="btn" href="#">Sign up</a>
            <a class="btn" href="#">About FlashThrift</a>
      </div>
    </div>
    <div class="content">
        <%= yield %>
    </div>
    </div>
  </body>
</html>
